.cart_group {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .cart_product {
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
    height: 12rem;
    border: 1px solid #aa8b78;
    border-radius: 5px;
    background-color: #f5e8e0;
    font-size: 15px;
    font-weight: normal;
    text-align: center;

    button {
      padding: 0.2rem 1rem 0.2rem 1rem;
      margin: 0.3rem;
    }

    img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      float: left;
    }

    .delete {
      background-color: red;
      border: 1px solid rgb(180, 0, 0);
      color: white;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  button {
    width: 60vw;
    color: white;
    background-color: green;
    border: 1px solid rgb(1, 66, 1);
  }
}