.body {
  height: 100vh;
}

.group {
  margin-top: 8vh;

  .title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .product {
    padding: 1rem;
    width: 20rem;
    height: 18rem;
    border: 1px solid #aa8b78;
    border-radius: 5px;
    background-color: #f5e8e0;
    font-size: 15px;
    font-weight: normal;
    text-align: center;

    button {
      padding: 0.2rem 1rem 0.2rem 1rem;
      margin: 0.3rem;
      background-color: #9dbfff;
      border: 1px solid #576b8f;
    }

    img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
    }
  }
}